@mixin set-margin {
  margin-bottom: 2rem !important;
}

.register-form {
  min-height: 100vh;

  &__inner-wrapper,
  &__select-field,
  &__logo {
    @include set-margin();
  }

  &__field {
    width: 75%;
    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &__password {
    width: 100%;
  }

  &__password:nth-child(2),
  &__password:nth-child(3) {
    margin-top: 1rem;
  }

  &__innerBtn {
    width: 23%;
    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &__button {
    width: 100%;
  }

  &__error {
    width: 100%;
    color: red;
    font-size: 0.8rem;
    padding: 0.3rem 0 0 0.3rem;
  }

  &__top, &__bottom {
    width: 100%;
  }
}
