@import "../common/utils";

@mixin set-layout {
  display: flex;
  align-items: center;

  &__title {
    text-align: center;

    @include mobile() {
      font-size: 1em;
    }

    @include tablet() {
      font-size: 1em;
    }
  }
}

@mixin previous-submit-button {
  &__button {
    margin-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

    &--previous {
      margin-right: 1rem;
      width: 100%;

      & Button {
        width: 100%;
        height: 50px;
      }
    }

    &--submit {
      width: 100%;

      & Button {
        width: 100%;
        height: 50px;
      }
    }
  }
}

.logo {
  margin-bottom: 1rem;
}

.initial-settings {
  min-height: 100vh;

  /* 프로필 사진 설정 컴포넌트 */
  &__img {
    @include set-layout();

    &__input {
      display: none;
    }

    &__input-button {
      margin-bottom: 2rem;
      border: none;
      background: none;
      cursor: pointer;

      & img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__submit-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;

      & Button {
        width: 300px;
        height: 50px;
      }
    }
  }

  /* 한줄 소개 설정 컴포넌트 */
  &__desc {
    @include set-layout();
    @include previous-submit-button();

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      padding-top: 1rem;
      padding-bottom: 3rem;

      &__textfield {
        width: 100%;
      }
    }

    &__button {
      margin-top: 1rem;
    }

    @include tablet {
      & .MuiTextField-root {
        width: 90%;
      }

      &__button {
        width: 90%;
      }
    }

    @include mobile {
      & .MuiTextField-root {
        width: 90%;
      }

      &__button {
        width: 90%;
      }
    }
  }

  /* 관심 운동 종목 설정 컴포넌트 */
  &__interest {
    @include set-layout();
    @include previous-submit-button();

    &__checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 40%;

      &__box {
        width: 150px;
      }

      @include mobile() {
        width: 80%;
        font-size: 1em;
      }

      @include tablet() {
        width: 60%;
        font-size: 1em;
      }
    }

    &__button {
      padding-top: 2rem;
      width: 33%;

      @include mobile() {
        width: 70%;
      }

      @include tablet() {
        width: 50%;
      }
    }
  }

  /* 초기 설정 완료 컴포넌트 */
  &__complete {
    @include set-layout();
    @include previous-submit-button();

    margin-top: 1rem;
    align-content: center;

    &__divider {
      width: 90%;
    }

    &__title {
      margin: 3rem;
      // font-weight: 400;
    }

    &__username {
      color: #54bab9;
      font-weight: 700;
    }

    &__button {
      width: 80%;

      &--previous {
        margin-top: 3rem;
      }

      &--submit {
        margin-top: 3rem;
      }
    }
  }
}
