@import '../common/utils';

.social-login {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.kakao-login {
  &__button {
    height: auto;

    @include mobile() {
      width: $oauth-mobile-button-size;
    }

    @include tablet() {
      width: $oauth-tablet-button-size;
    }

    @include desktop() {
      width: $oauth-desktop-button-size;
    }
  }
}

.google-login {
  &__button {
    display: flex;
    height: auto;
    background: #FFFFFF;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;

    @include mobile() {
      width: $oauth-mobile-button-size;
    }

    @include tablet() {
      width: $oauth-tablet-button-size;
    }

    @include desktop() {
      width: $oauth-desktop-button-size;
    }
  }
}