@import "../common/utils";

.content {
  &__inner {
    width: 100%;
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    & .profile {
      & .user-info {
        & .info {
          &-top {
            &__img {
              width: 16% !important;

              & img {
                width: 100% !important;
              }
            }

            &__right {
              width: 55%;
              margin-left: 1.1rem;
              padding-bottom: 0.5rem;
              display: flex;
              flex-direction: column;
              justify-content: center;

              & p {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: 1rem;
                margin-top: 0;
              }

              &__follow {
                & .follower,
                .following {
                  margin-right: 2rem;
                  cursor: pointer;

                  &__text {
                    margin-right: 0.5rem;
                  }

                  &__cnt {
                    font-weight: 700;
                  }
                }
              }
            }

            &__more {
              text-align: end;

              &__button {
                &--accept {
                  border-radius: 20px !important;
                }
              }
            }
          }

          &-bottom {
            margin-top: 1rem;
            margin-bottom: 2rem;
          }
        }
      }

      & .user-ground {
        margin-top: 2rem;
        margin-bottom: 2rem;

        & .ground {
          &__content {
            text-align: end;

            &__more {
              color: $light-gray;
              cursor: pointer;
            }
          }
        }
      }

      & .user-articles {
        margin-top: 2rem;

        & .MuiTabs-indicator {
          background-color: #fff;
        }

        &__tab {
          font-size: 1.1rem;

          &.Mui-selected {
            color: #000;
            font-weight: 800;
          }
        }
      }
    }
  }
}
